@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --primary: 201 96% 32%;
  --primary-foreground: 210 40% 98%;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

body {
  font-family: "Playfair Display", serif;
}

h1, .hero-title {
  font-family: "Playfair Display", serif;
  font-weight: 700; /* Bold for impactful titles */
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
  color: #ffffff;
}

h2, p, .hero-subtitle {
  font-family: "Playfair Display", serif;
  font-weight: 400; /* Regular weight for subtler text */
}

.hero-highlight {
  color: #0077b6; /* Theme’s primary blue */
  font-weight: 600; /* Semi-bold for emphasis */
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.5s ease-out;
}

svg {
  display: block;
  width: 100%;
  height: auto;
}
/* Gradient Wave Animation */
@keyframes wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.wave-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Push behind content */
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 150px;
  background: linear-gradient(
    90deg,
    rgba(0, 128, 255, 0.5),
    rgba(0, 255, 255, 0.5)
  );
  opacity: 0.7;
  animation: wave 10s linear infinite;
}

.wave:nth-child(2) {
  top: 50px;
  animation-duration: 8s;
  animation-delay: -2s;
  background: linear-gradient(
    90deg,
    rgba(0, 128, 128, 0.5),
    rgba(0, 255, 255, 0.3)
  );
}

.wave:nth-child(3) {
  top: 100px;
  animation-duration: 12s;
  animation-delay: -4s;
  background: linear-gradient(
    90deg,
    rgba(0, 64, 128, 0.4),
    rgba(0, 128, 255, 0.6)
  );
}

.hero-text {
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.responsive-image {
  width: 100%; /* Makes the image span the full width */
  height: auto; /* Maintains the aspect ratio */
  object-fit: cover; /* Ensures no distortion and covers the container */
}

/* In styles/globals.css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
